.container{
    min-height: 50vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15vh;
}

.boxPhotoLocal{
    margin-top: 3vh;
    margin-bottom: 10vh;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxMap{
    margin-bottom: 20vh;
    margin-top: 3vh;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map{
    border-radius: 15px;
    width:90%;
}

.boxTitleUbicacion{
    height: 10vh;
    color:white;
}

.boxTitleUbicacion h3{
    font-size: 30px;
}

@media (min-width: 768px) {
    .boxTitleUbicacion h3{
        font-size: 40px;
    }
    .map{
        width:50%;
        height:50vh;
    }
    .photo{
        border-radius: 15px;
    }
    .boxPhotoLocal img{
        border-radius: 25px;
        border: solid 1px rgb(185, 185, 185);
    }
}