.container{
    min-height: 50vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.boxProductos{
    margin-top: 5vh;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxProductos ul{
    transition:all 1s ease;
    list-style:none;
    width:35vw;
    height:70vh;
    margin: 0px;
    padding: 0px;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
}

.boxProductos div{
    height:70vh;
    width:5vw;
    border-right:solid 1px black;
    border-left:solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#A68D6F;
}

.transition li img{
    animation-name:transition;
    animation-duration: 1s;
    animation-iteration-count: initial;
}

.transition li h4{
    animation-name:transition;
    animation-duration: 1s;
    animation-iteration-count: initial;
}

@keyframes transition {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.boxProductos i{
    font-size:50px;
    color:white;
    cursor:pointer;
}

.boxProductos i:hover{
    opacity: .5;
}

.boxProductos{
    background-color: #E9B346;
}

.boxImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height:85%;
    width: 100%;
    background-color: #E9B346;
}

.boxNombre{
    height:15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#D99100
}

.boxNombre h4{
    color:white;
}

@media (max-width: 768px){
    .boxProductos ul{
        width:100vw;
    } 
    .boxProductos i{
        font-size:30px;
    }
    .boxProductos div{
        height:auto;
        width:auto;
        border-right:none;
        border-left:none;
        background-color:#E9B346;
    }
}